@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 213 17% 20%;
    --foreground: 0 0% 100%;

    --card: 213 17% 20%;
    --card-foreground: 0 0% 100%;

    --popover: 213 17% 20%;
    --popover-foreground: 0 0% 100%;

    --primary: 340 99% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 17% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 213 13% 25%;
    --muted-foreground: 0 0% 70%;

    --accent: 340 99% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 213 13% 30%;
    --input: 213 13% 30%;
    --ring: 340 99% 58%;

    --radius: 0.5rem;

    --sidebar-background: 213 17% 20%;

    --sidebar-foreground: 0 0% 100%;

    --sidebar-primary: 340 99% 58%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 213 13% 25%;

    --sidebar-accent-foreground: 0 0% 100%;

    --sidebar-border: 213 13% 30%;

    --sidebar-ring: 340 99% 58%;
  }

  .dark {
    --background: 213 17% 15%;
    --foreground: 0 0% 100%;

    --card: 213 17% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 213 17% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 340 99% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 17% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 213 13% 25%;
    --muted-foreground: 0 0% 70%;

    --accent: 340 99% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 213 13% 25%;
    --input: 213 13% 25%;
    --ring: 340 99% 58%;
    --sidebar-background: 213 17% 15%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 340 99% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 213 13% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 213 13% 25%;
    --sidebar-ring: 340 99% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
